.idea/
.virtualenv/
.venv/
**/*.pyc
**/*.DS_Store
__pycache__/
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ipynb_checkpoints/