$primary: #1897d5;
$secondary: #1f366a;
$font-family-sans-serif: Gotham, "Open Sans", sans-serif, sans-serif !default;
$fa-font-path: "/static/fonts/vendor/font-awesome" !default;
$nav-font-size: 12px;

$container-max-widths: (
  sm: 720px,
  md: 721px,
  lg: 960px,
  xl: 1140px
) !default;