.home-header {
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/home-bg-v2.jpg");
  height: auto;
  padding-top: 80px;

  h2 {
    margin-bottom: 30px;
    color: $secondary;
    font-size: 25px;
    line-height: 28px;
    font-weight: bolder;
    margin-top: 20px;
    font-family: "Arial Black", sans-serif;
  }

  h4 {
    min-height: 35px;
    color: $secondary;
    font-size: 16px;
  }

  .home-navigation {
    margin-top: 30px;
    height: 40px;
    background-color: $secondary;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .navigation-circle {
      background-color: #fff;
      border-radius: 60px;
      width: 60px;
      height: 60px;
      align-self: flex-start;
      padding: 10px 8px;
      margin-top: -10px;
      margin-left: -10px;

      img {
        width: 38px;
        height: 38px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
      flex: auto;

      li {
        color: #fff;
        display: flex;
        font-size: 14px;

        @include media-breakpoint-down(md) {
          font-size: 12px !important;
        }

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .home-link {
    display: flex;
    flex-direction: row;
    color: #000;
    margin-top: 20px;

    &:hover {
      text-decoration: none;
    }

    .home-link-header {
      width: 60px;
      text-align: center;

      img {
        margin-right: 10px;
        height: 30px;
      }
    }

    .home-link-body {
      flex-direction: column;

      h6 {
        font-size: 14px;
        margin-bottom: 0;
      }

      .see-more {
        padding-top: 2px;
        padding-right: 25px;
        background-size: 15px;
        background: url("/static/images/icons/blue-arrow.png") no-repeat 100% 50%;
        font-family: 'Gotham Medium', sans-serif;
        color: $primary;
        font-size: 11px;
        line-height: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

  }


  @include media-breakpoint-up(sm) {
    .no-padding-left {
      padding-left: 0;
    }
  }

}