{% extends "layout.html" %}

{% block header %}
    <div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <h3>About the state secretaries datasets</h3>

                        <p class="text-justify">
                            The Federative Research Network ("Rede Federativa de Pesquisadores") was created with the
                            objective of building an unprecedented database that gathers information on the high
                            position officers in state and Federal District governments: the state secretaries.
                        </p>

                        <p class="text-justify">
                            The Network focused on basic information on state secretaries between 1995 and 2010. Data
                            was mainly collected by local researchers (from each state or Federal District) that was
                            participating on the Network.
                        </p>

                        <p class="text-justify">
                            The main sources for data colletction were the official gazettes, once they are the official
                            means of communication of the state governments in Brazil. Data on party affiliation and
                            political candidatures was collected from the Brazilian Superior Electoral Court data
                            repositories.
                        </p>

                        <p class="text-justify">
                            The publication of this dataset makes the analysis of the 26 Brazilian states' and Federal
                            District's secretaries possible for the above mentioned period. Political and personal
                            characteristics of secretaries are available. The uniformity of the information format was
                            guarateed through the use of an online plataform by the research team to enter the collected
                            data:
                            <a href="http://ipe.cepesp.io/" target="_blank">http://ipe.cepesp.io/</a>
                        </p>

                        <p class="text-justify">
                            We continue to work updating data for recent period, until 2018.
                        </p>

                        <p class="text-justify">
                            This project was developed with financial support from the São Paulo State Foundation for
                            Research (FAPESP) to the projects Political Institutions and Public Spending: A Comparative
                            Study of the Brazilian States (2009-2013) and The Subnational Political Institutions: A
                            Comparative Study of the Brazilian States (2014-2020). This project was also supported by
                            Fundação Getúlio Vargas through the project Visualizing politics .
                        </p>
                         
                        <p class="text-justify">
                            Check the list of researchers that participated in this project below:
                        </p>

                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>State</th>
                                <th>Research coordinator</th>
                                <th>Research assistants</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>AC</td>
                                <td>Luci Maria Teston (UFAC)</td>
                                <td>Luan Marcel Henrique de Souza</td>
                            </tr>
                            <tr>
                                <td>AL</td>
                                <td>Luciana Santana (UFAL)</td>
                                <td>Arthur Stuart Rodrigues Rocha Mendonça, Leonita Raquel Tenório Machado</td>
                            </tr>
                            <tr>
                                <td>AM</td>
                                <td>Breno Rodrigo de Messias Leite (Faculdade La Salle, Manaus )</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>AP</td>
                                <td>Daniel Chaves Ribeiro</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>BA</td>
                                <td>Celina Souza (CRH-UFBA)</td>
                                <td>Sara Fadigas</td>
                            </tr>
                            <tr>
                                <td>CE</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>Ana Rafaela de Sousa</td>
                            </tr>
                            <tr>
                                <td>DF</td>
                                <td>Lucio Renno (UnB)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>ES</td>
                                <td>Rodrigo Taveira Rocha (FGV/EAESP)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>GO</td>
                                <td>Denise Paiva Ferreira (UFG)</td>
                                <td>Gabriela Peixoto</td>
                            </tr>
                            <tr>
                                <td>MA</td>
                                <td>Arleth Santos Borges (UFMA)</td>
                                <td>Soraia França Weba, Janio Victor de Matos Duarte</td>
                            </tr>
                            <tr>
                                <td>MG</td>
                                <td>Felipe Nunes (UFMG)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>MS</td>
                                <td>Daniel Estevão Ramos de Miranda (UFMS)</td>
                                <td>Matheus Silva Quirino, Fellipe Lopes Porto, Natalia Fernandez de la Reguera De
                                    Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>MT</td>
                                <td>ALAIR SILVEIRA (UFMT)</td>
                                <td>JULIANA CÉLIA COSTA</td>
                            </tr>
                            <tr>
                                <td>PA</td>
                                <td>Roberto Ribeiro Corrêa (UFPA)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PB</td>
                                <td>Lizandra Serafim (UFPB)</td>
                                <td>Aline Patrícia Ramos da Silva</td>
                            </tr>
                            <tr>
                                <td>PE</td>
                                <td>Ricardo Borges Gama Neto (UFPE)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PI</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>LETYCIA RAILA PINTO DE SOUZA</td>
                            </tr>
                            <tr>
                                <td>PR</td>
                                <td>Sérgio Braga (UFPR)</td>
                                <td>Luiz Henrique Champowsky, Miriane Pires Rodrigues, Márcio Cunha Carlomagno</td>
                            </tr>
                            <tr>
                                <td>RJ</td>
                                <td>Octavio Amorim Neto (EBAPE/FGV)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>RN</td>
                                <td>Sandra Gomes (UFRN)</td>
                                <td>Alan Daniel Freire de Lacerda, André Luís Nogueira da Silva, Ayanne Maríllia Sousa
                                    da Silva, Francymonni Yasmim Marques de Melo, Matheus Oliveira de Santana, Jaedson
                                    Gomes dos Santos, Jaylan Marlom Ferreira de Macedo, Richard Maia Mafra
                                </td>
                            </tr>
                            <tr>
                                <td>RO</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>Jéssica Oliveira</td>
                            </tr>
                            <tr>
                                <td>RR</td>
                                <td>Roberto Ramos Santos (UFRR)</td>
                                <td>Raimundo Nonato Lopes dos Santos</td>
                            </tr>
                            <tr>
                                <td>RS</td>
                                <td>MANOEL CAETANO DE ARAÚJO PASSOS (UFRGS/NUPERGS)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SC</td>
                                <td>Ernesto Seidl (UFSC)</td>
                                <td>Maiara Corrêa</td>
                            </tr>
                            <tr>
                                <td>SE</td>
                                <td>Ernesto Seidl (UFSC)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SP</td>
                                <td>George Avelino (FGV)</td>
                                <td>Ana Paula Massoneto, Lara Mesquita, Caterina Galluzzi, Lorena Soares Perez</td>
                            </tr>
                            <tr>
                                <td>TO</td>
                                <td>Cynthia Mara Miranda (UFTO)</td>
                                <td>Cleide das Graças Veloso dos Santos, Ruy Alberto Pereira Bucar</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
