{% extends "layout.html" %}

{% block header %}
    <div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <h3>Sobre o Banco de Dados sobre os Secretariados Estaduais</h3>

                        <p class="text-justify">
                            Com o objetivo de criar base de dados inéditas, reunindo informações sobre ocupantes de
                            cargos do primeiro escalão dos governos estaduais e do Distrito Federal, foi constituída a
                            Rede Federativa de Pesquisadores.
                        </p>

                        <p class="text-justify">
                            O trabalho nos estados concentrou-se nas informações básicas sobre os secretariados
                            estaduais como mínimo denominador comum. As variáveis coletadas referem-se às
                            características dos secretários estaduais entre 1995 e 2010. Os dados foram coletados,
                            prioritariamente, por pesquisador(a) local capaz de se incorporar ao projeto.
                        </p>

                        <p class="text-justify">
                            Foram usados como fonte de identificação dos secretários diários oficiais, informações
                            disponibilizadas pelos governos estaduais, e por outros órgãos oficiais. Para recuperação
                            dos dados de filiação partidária foram usados como fonte informações oficiais do banco de
                            filiados e cruzamentos com informações sobre candidatos a cargos eletivos, ambas as
                            informações fornecidas pelo Tribunal Superior Eleitoral.
                        </p>

                        <p class="text-justify">
                            A publicização destes dados torna possível a análise dos secretariados se 26 estados além do
                            Distrito Federal no período coberto pelo projeto a partir das características pessoais e
                            políticas dos secretários. Estas informações foram padronizadas através do site comum da
                            pesquisa para a entrada de dados <a href="http://ipe.cepesp.io/" target="_blank">http://ipe.cepesp.io/</a>
                        </p>

                        <p class="text-justify">
                            No momento estamos trabalhando na atualização dos dados para o período mais recente, que se
                            estende até 2018.
                        </p>

                        <p class="text-justify">
                            O projeto contou com apoio da FAPESP através dos projetos temáticos “Instituições políticas
                            e gastos públicos: um estudo comparativo dos estados brasileiros” (2009 – 2013) e “As
                            Instituições Políticas Subnacionais. Um estudo comparativo dos Estados Brasileiros” (2014 –
                            2020), além de apoio da Fundação Getúlio Vargas através do projeto “Visualizando a
                            Política”.
                        </p>
                         
                        <p class="text-justify">
                            Abaixo listamos os pesquisadores responsáveis pela coleta dos dados em cada estado e seus
                            assistentes de pesquisa.
                        </p>

                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>UF</th>
                                <th>Pesquisador(a) responsável</th>
                                <th>Equipe</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>AC</td>
                                <td>Luci Maria Teston (UFAC)</td>
                                <td>Luan Marcel Henrique de Souza</td>
                            </tr>
                            <tr>
                                <td>AL</td>
                                <td>Luciana Santana (UFAL)</td>
                                <td>Arthur Stuart Rodrigues Rocha Mendonça, Leonita Raquel Tenório Machado</td>
                            </tr>
                            <tr>
                                <td>AM</td>
                                <td>Breno Rodrigo de Messias Leite (Faculdade La Salle, Manaus )</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>AP</td>
                                <td>Daniel Chaves Ribeiro</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>BA</td>
                                <td>Celina Souza (CRH-UFBA)</td>
                                <td>Sara Fadigas</td>
                            </tr>
                            <tr>
                                <td>CE</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>Ana Rafaela de Sousa</td>
                            </tr>
                            <tr>
                                <td>DF</td>
                                <td>Lucio Renno (UnB)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>ES</td>
                                <td>Rodrigo Taveira Rocha (FGV/EAESP)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>GO</td>
                                <td>Denise Paiva Ferreira (UFG)</td>
                                <td>Gabriela Peixoto</td>
                            </tr>
                            <tr>
                                <td>MA</td>
                                <td>Arleth Santos Borges (UFMA)</td>
                                <td>Soraia França Weba, Janio Victor de Matos Duarte</td>
                            </tr>
                            <tr>
                                <td>MG</td>
                                <td>Felipe Nunes (UFMG)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>MS</td>
                                <td>Daniel Estevão Ramos de Miranda (UFMS)</td>
                                <td>Matheus Silva Quirino, Fellipe Lopes Porto, Natalia Fernandez de la Reguera De
                                    Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>MT</td>
                                <td>ALAIR SILVEIRA (UFMT)</td>
                                <td>JULIANA CÉLIA COSTA</td>
                            </tr>
                            <tr>
                                <td>PA</td>
                                <td>Roberto Ribeiro Corrêa (UFPA)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PB</td>
                                <td>Lizandra Serafim (UFPB)</td>
                                <td>Aline Patrícia Ramos da Silva</td>
                            </tr>
                            <tr>
                                <td>PE</td>
                                <td>Ricardo Borges Gama Neto (UFPE)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PI</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>LETYCIA RAILA PINTO DE SOUZA</td>
                            </tr>
                            <tr>
                                <td>PR</td>
                                <td>Sérgio Braga (UFPR)</td>
                                <td>Luiz Henrique Champowsky, Miriane Pires Rodrigues, Márcio Cunha Carlomagno</td>
                            </tr>
                            <tr>
                                <td>RJ</td>
                                <td>Octavio Amorim Neto (EBAPE/FGV)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>RN</td>
                                <td>Sandra Gomes (UFRN)</td>
                                <td>Alan Daniel Freire de Lacerda, André Luís Nogueira da Silva, Ayanne Maríllia Sousa
                                    da Silva, Francymonni Yasmim Marques de Melo, Matheus Oliveira de Santana, Jaedson
                                    Gomes dos Santos, Jaylan Marlom Ferreira de Macedo, Richard Maia Mafra
                                </td>
                            </tr>
                            <tr>
                                <td>RO</td>
                                <td>Vítor Eduardo Veras de Sandes Freitas (UFPI)</td>
                                <td>Jéssica Oliveira</td>
                            </tr>
                            <tr>
                                <td>RR</td>
                                <td>Roberto Ramos Santos (UFRR)</td>
                                <td>Raimundo Nonato Lopes dos Santos</td>
                            </tr>
                            <tr>
                                <td>RS</td>
                                <td>MANOEL CAETANO DE ARAÚJO PASSOS (UFRGS/NUPERGS)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SC</td>
                                <td>Ernesto Seidl (UFSC)</td>
                                <td>Maiara Corrêa</td>
                            </tr>
                            <tr>
                                <td>SE</td>
                                <td>Ernesto Seidl (UFSC)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SP</td>
                                <td>George Avelino (FGV)</td>
                                <td>Ana Paula Massoneto, Lara Mesquita, Caterina Galluzzi, Lorena Soares Perez</td>
                            </tr>
                            <tr>
                                <td>TO</td>
                                <td>Cynthia Mara Miranda (UFTO)</td>
                                <td>Cleide das Graças Veloso dos Santos, Ruy Alberto Pereira Bucar</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
