{% extends "layout.html" %}

{% block content %}

    <form action="/consulta/bem_candidato" method="get" style="min-height: 600px">

        <div class="row mt-4">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{{ gettext('pages.assets.title') }}</h5>
                    </div>

                    <div class="card-body">

                        <p class="card-text">{{ gettext('pages.assets.description') }}</p>

                        <div class="row">
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="year-input">{{ gettext('pages.query.year') }}</label>
                                <select name="anos[]" id="year-input" class="form-control" multiple required>
                                    {% for x in years %}
                                        <option value="{{ x }}"{% if x in options.years %}
                                                selected{% endif %}>{{ x }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="filter-uf-input">{{ gettext('pages.query.filter-by-uf') }}
                                    ({{ gettext('pages.query.optional') }})</label>
                                <select name="uf_filter" id="filter-uf-input" class="form-control">
                                    <option value="">UF</option>
                                    {% for uf in uf_list %}
                                        <option value="{{ uf }}"
                                                {% if uf == options.uf_filter %}selected{% endif %}>{{ uf }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    {% include "partials/query-footer.html" %}

                </div>

                {% include "partials/table-result.html" %}

            </div>
        </div>

        {% include "partials/columns-modal.html" %}

    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ 'js/query.js'|asset }}"></script>
    <script type="text/javascript">
        var COLUMNS = {{ options.selected_columns|tojson }};
        var DEFAULT_COLUMNS = {{ options.default_columns|tojson }};
        var TRANSLATED_COLUMNS = {{ options.translated_columns|tojson }};
        var DEFAULT_FILTERS = {{ options.filters|tojson }};
        var LANG = '{{ lang }}';
        var QUERY_MODE = '{{ mode }}';
        var TABLE = 'bem_candidato';

        {% if show %}
            $(function () {
                window.initializeTable();
            });
        {% endif %}
    </script>
{% endblock %}