{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="icon-briefcase"></i>
                        <span class="caption-subject bold uppercase">
                            {{ gettext('pages.home.candidates') }}
                        </span>
                    </div>
                </div>
                <div class="portlet-body form">

                    <p>{{ gettext('pages.home.candidates-description') }}</p>

                    <form action="/consulta/candidatos" method="get">

                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-xs-12">
                                    <label for="job-input">{{ gettext('pages.query.job') }}:</label>
                                    <select name="cargo" id="job-input" class="form-control" required>
                                        <option value="1" {% if options.job == 1 %}
                                                selected{% endif %}>{{ gettext('query.job.1') }}</option>
                                        <option value="2" {% if options.job == 2 %}
                                                selected{% endif %}>{{ gettext('query.job.2') }}</option>
                                        <option value="3" {% if options.job == 3 %}
                                                selected{% endif %}>{{ gettext('query.job.3') }}</option>
                                        <option value="4" {% if options.job == 4 %}
                                                selected{% endif %}>{{ gettext('query.job.4') }}</option>
                                        <option value="5" {% if options.job == 5 %}
                                                selected{% endif %}>{{ gettext('query.job.5') }}</option>
                                        <option value="6" {% if options.job == 6 %}
                                                selected{% endif %}>{{ gettext('query.job.6') }}</option>
                                        <option value="7" {% if options.job == 7 %}
                                                selected{% endif %}>{{ gettext('query.job.7') }}</option>
                                        <option value="9" {% if options.job == 9 %}
                                                selected{% endif %}>{{ gettext('query.job.9') }}</option>
                                        <option value="10" {% if options.job == 10 %}
                                                selected{% endif %}>{{ gettext('query.job.10') }}</option>
                                        <option value="11" {% if options.job == 11 %}
                                                selected{% endif %}>{{ gettext('query.job.11') }}</option>
                                        <option value="13" {% if options.job == 13 %}
                                                selected{% endif %}>{{ gettext('query.job.13') }}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3 col-xs-12">
                                    <label for="year-input">{{ gettext('pages.query.year') }}:</label>
                                    <select name="anos[]" id="year-input" class="form-control" multiple required>
                                        {% for x in years %}
                                            <option value="{{ x }}"{% if x in options.years %}
                                                    selected{% endif %}>{{ x }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-checkbox">
                                        <input type="checkbox" name="only_elected" id="only-elected-input"
                                               class="md-check" value="1"
                                               {% if options.only_elected %}checked{% endif %}>
                                        <label for="only-elected-input">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            {{ gettext('pages.query.only-elected') }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn blue">{{ gettext('pages.home.query') }}</button>
                        </div>
                    </form>

                </div>
            </div>

            {% include "table-result.html" %}

        </div>
    </div>


    <!-- columns modal -->
    <div id="columns-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">
                        {{ gettext('pages.query.add-columns') }}
                    </h4>
                </div>
                <form action="/consulta/candidatos" method="get">

                    <div class="modal-body">

                        <input type="hidden" name="cargo" id="modal-cargo-input" value="{{ options.job }}"/>
                        <input type="hidden" name="anos" id="modal-anos-input" value="{{ options.years|join(',') }}"/>
                        <input type="hidden" name="only_elected"
                               value="{{ options.only_elected if options.only_elected else '' }}"/>

                        <div id="selected-columns-message"></div>

                        <div class="row">
                            {% for column in options.all_columns %}
                                <div class="col-md-4">
                                    <div class="md-checkbox">
                                        <input type="checkbox" name="c[]" id="columns-{{ loop.index0 }}"
                                               class="md-check" value="{{ column }}"
                                               {% if column in options.selected_columns %}checked{% endif %}>
                                        <label for="columns-{{ loop.index0 }}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <b>{{ gettext('columns.' + column) }}</b><br/>
                                            <small class="text-success">{{ gettext('descriptions.' + column) }}</small>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal"
                                class="btn btn-default">{{ gettext('pages.query.cancel') }}</button>
                        <button type="button" class="btn green-haze"
                                id="select-default">{{ gettext('pages.query.select-default') }}</button>
                        <button type="submit" class="btn blue">{{ gettext('pages.query.update-table') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ 'js/cepesp-query-v7.js'|asset }}"></script>
    <script type="text/javascript">
        var COLUMNS = {{ options.selected_columns|tojson }};
        var DEFAULT_COLUMNS = {{ options.default_columns|tojson }};
        var TRANSLATED_COLUMNS = {{ options.translated_columns|tojson }};
        var TABLE = 'candidatos';

        {% if show %}
            populateTable();
        {% endif %}
    </script>
{% endblock %}