{% extends "layout.html" %}

{% block content %}

    <form action="/consulta/secretarios" method="get" style="min-height: 600px">

        <div class="row mt-4">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{{ gettext('pages.secretarios.title') }}</h5>
                    </div>

                    <div class="card-body">

                        <p class="card-text">{{ gettext('pages.secretarios.description') }}</p>

                        <div class="row">
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="government-period-input">{{ gettext('pages.secretarios.government_period') }}</label>
                                <select name="government_period" id="government-period-input" class="form-control">
                                    <option value="">TODOS</option>
                                    {% for p in periods %}
                                        <option value="{{ p }}"
                                                {% if p == options.government_period %}selected{% endif %}>
                                            {{ p }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-3 col-xs-12">
                                <label for="filter-uf-input">{{ gettext('pages.query.uf') }}</label>
                                <select name="uf_filter" id="filter-uf-input" class="form-control">
                                    <option value="">TODOS</option>
                                    {% for uf in uf_list %}
                                        <option value="{{ uf }}" {% if uf == options.uf_filter %}selected{% endif %}>
                                            {{ uf }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                <label for="name-filter-input">{{ gettext('pages.query.filter-by') }}:
                                    <b>{{ gettext('columns.NOME_SECRETARIO') }}</b></label>
                                <input type="text" id="name-filter-input" name="name_filter"
                                       value="{{ options.name_filter }}"
                                       placeholder="Busque pelo nome do secretário" class="form-control"/>
                            </div>
                        </div>

                    </div>

                    {% include "partials/query-footer.html" %}

                </div>

                {% include "partials/table-result.html" %}

            </div>
        </div>

        {% include "partials/columns-modal.html" %}

    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ 'js/query.js'|asset }}"></script>
    <script type="text/javascript">
        window.COLUMNS = {{ options.selected_columns|tojson }};
        window.DEFAULT_COLUMNS = {{ options.default_columns|tojson }};
        window.TRANSLATED_COLUMNS = {{ options.translated_columns|tojson }};
        window.DEFAULT_FILTERS = {{ options.filters|tojson }};
        window.LANG = '{{ lang }}';
        window.QUERY_MODE = '{{ mode }}';
        window.TABLE = 'secretarios';
        window.initNameAutoComplete({{ names_list|tojson }});

        {% if show %}
            $(function () {
                window.initializeTable();
            });
        {% endif %}
    </script>
{% endblock %}