set mapred.output.compress=true; 
set hive.exec.compress.output=true;
set mapred.output.compression.codec=org.apache.hadoop.io.compress.GzipCodec;
set io.compression.codecs=org.apache.hadoop.io.compress.GzipCodec;


create table output_consolidado_candidato(
ANO_ELEICAO STRING,
NUM_TURNO STRING,
DESCRICAO_ELEICAO STRING,
CODIGO_CARGO STRING,
DESCRICAO_CARGO STRING,
QTD_APTOS STRING,
QTD_COMPARECIMENTO STRING,
QTD_ABSTENCOES STRING,
QT_VOTOS_NOMINAIS STRING,
QT_VOTOS_BRANCOS STRING,
QT_VOTOS_NULOS STRING,
QT_VOTOS_LEGENDA STRING,
QT_VOTOS_ANULADOS_APU_SEP STRING,
CODIGO_MACRO STRING,
NOME_MACRO STRING,
UF STRING,
NOME_UF STRING,
CODIGO_MESO STRING,
NOME_MESO STRING,
CODIGO_MICRO STRING,
NOME_MICRO STRING,
CODIGO_MUNICIPIO STRING,
CODIGO_IBGE STRING,
NOME_MUNICIPIO STRING,
NUM_ZONA STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\;',
'quoteChar'     = '\"'
)
STORED AS TEXTFILE;

Alter table output_consolidado_candidato set location 's3://datascience2016/data/gzip/output/munzona/';

{% for ano in anos %}
{% for cargo in cargos %}

Alter table output_consolidado_candidato set location 's3://datascience2016/data/gzip/output/detalhe/{{ ano }}/{{ cargo }}/';

INSERT OVERWRITE TABLE output_consolidado_candidato
select
d.ANO_ELEICAO,
d.NUM_TURNO,
d.DESCRICAO_ELEICAO,
d.CODIGO_CARGO,
d.DESCRICAO_CARGO,
sum(cast(QTD_APTOS AS INT)) as QTD_APTOS,
sum(cast(QTD_COMPARECIMENTO AS INT)) as QTD_COMPARECIMENTO,
sum(cast(QTD_ABSTENCOES AS INT)) as QTD_ABSTENCOES,
sum(cast(QT_VOTOS_NOMINAIS AS INT)) as QT_VOTOS_NOMINAIS,
sum(cast(QT_VOTOS_BRANCOS AS INT)) as QT_VOTOS_BRANCOS,
sum(cast(QT_VOTOS_NULOS AS INT)) as QT_VOTOS_NULOS,
sum(cast(QT_VOTOS_LEGENDA AS INT)) as QT_VOTOS_LEGENDA,
sum(cast(QT_VOTOS_ANULADOS_APU_SEP AS INT)) as QT_VOTOS_ANULADOS_APU_SEP,
m.CODIGO_MACRO,
m.NOME_MACRO,
m.UF,
m.NOME_UF,
m.CODIGO_MESO,
m.NOME_MESO,
m.CODIGO_MICRO,
m.NOME_MICRO,
d.CODIGO_MUNICIPIO,
m.CODIGO_IBGE,
m.NOME_MUNICIPIO,
d.NUMERO_ZONA
from detalhe_votacao_secao as d join aux_municipio as m
on
d.CODIGO_MUNICIPIO=m.CODIGO_MUNICIPIO
and d.ANO_ELEICAO="{{ ano }}"
and d.CODIGO_CARGO="{{ cargo }}"
group by
d.ANO_ELEICAO,
d.NUM_TURNO,
d.DESCRICAO_ELEICAO,
d.CODIGO_CARGO,
d.DESCRICAO_CARGO,
m.CODIGO_MACRO,
m.NOME_MACRO,
m.UF,
m.NOME_UF,
m.CODIGO_MESO,
m.NOME_MESO,
m.CODIGO_MICRO,
m.NOME_MICRO,
m.CODIGO_IBGE,
d.CODIGO_MUNICIPIO,
m.NOME_MUNICIPIO,
d.NUMERO_ZONA;

{% endfor %}
{% endfor %}