.home-header {
  background: #66abce url("/static/images/home_header.png") fixed cover center;
  height: 450px;
}

.home-header h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: left;
}

@media (max-width: 768px) {
  .home-header {
    height: auto;
    background-size: auto 100%;
    margin: 0 -10px 20px -10px;
  }

  .home-header h1 {
    font-size: 28px !important;
  }

  .home-header h2 {
    font-size: 16px !important;
  }
}

