create table aux_municipio(
UF STRING,
CODIGO_MUNICIPIO STRING,
CODIGO_IBGE STRING,
NOME_UF STRING,
CODIGO_MESO STRING,
NOME_MESO STRING,
CODIGO_MICRO STRING,
NOME_MICRO STRING,
NOME_MUNICIPIO STRING,
CODIGO_MACRO STRING,
NOME_MACRO STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\,',
'quoteChar'     = '\"'
)
STORED AS TEXTFILE;



Alter table aux_municipio set location "s3://datascience2016/data/gzip/aux/aux_mun_code.csv.gz";




{% for ano in anos %}
create table votacao_secao_{{ ano }}(
    DATA_GERACAO STRING,
    HORA_GERACAO STRING,
    ANO_ELEICAO STRING,
    NUM_TURNO STRING,
    DESCRICAO_ELEICAO STRING,
    SIGLA_UF STRING,
    SIGLA_UE STRING,
    CODIGO_MUNICIPIO STRING,
    NOME_MUNICIPIO STRING,
    NUM_ZONA STRING,
    NUM_SECAO STRING,
    CODIGO_CARGO STRING,
    DESCRICAO_CARGO STRING,
    NUM_VOTAVEL STRING,
    QTDE_VOTOS STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\;',
'quoteChar'     = '\"',
'serialization.encoding'='ISO-8859-1'
)
STORED AS TEXTFILE;
Alter table votacao_secao_{{ ano }} set location 's3://datascience2016/data/gzip/votacao_secao/{{ ano }}/';


create table candidato_{{ ano }}
    (DATA_GERACAO STRING,
    HORA_GERACAO STRING,
    ANO_ELEICAO STRING,
    NUM_TURNO STRING,
    DESCRICAO_ELEICAO STRING,
    SIGLA_UF STRING,
    SIGLA_UE STRING,
    DESCRICAO_UE STRING,
    CODIGO_CARGO STRING,
    DESCRICAO_CARGO STRING,
    NOME_CANDIDATO STRING,
    SEQUENCIAL_CANDIDATO STRING,
    NUMERO_CANDIDATO STRING,
    CPF_CANDIDATO STRING,
    NOME_URNA_CANDIDATO STRING,
    COD_SITUACAO_CANDIDATURA STRING,
    DES_SITUACAO_CANDIDATURA STRING,
    NUMERO_PARTIDO STRING,
    SIGLA_PARTIDO STRING,
    NOME_PARTIDO STRING,
    CODIGO_LEGENDA STRING,
    SIGLA_LEGENDA STRING,
    COMPOSICAO_LEGENDA STRING,
    NOME_LEGENDA STRING,
    CODIGO_OCUPACAO STRING,
    DESCRICAO_OCUPACAO STRING,
    DATA_NASCIMENTO STRING,
    NUM_TITULO_ELEITORAL_CANDIDATO STRING,
    IDADE_DATA_ELEICAO STRING,
    CODIGO_SEXO STRING,
    DESCRICAO_SEXO STRING,
    COD_GRAU_INSTRUCAO STRING,
    DESCRICAO_GRAU_INSTRUCAO STRING,
    CODIGO_ESTADO_CIVIL STRING,
    DESCRICAO_ESTADO_CIVIL STRING,
    {% if ano > 2010 %}
    CODIGO_COR_RACA STRING,
    DESCRICAO_COR_RACA STRING,
    {% endif %}
    CODIGO_NACIONALIDADE STRING,
    DESCRICAO_NACIONALIDADE STRING,
    SIGLA_UF_NASCIMENTO STRING,
    CODIGO_MUNICIPIO_NASCIMENTO STRING,
    NOME_MUNICIPIO_NASCIMENTO STRING,
    DESPESA_MAX_CAMPANHA STRING,
    COD_SIT_TOT_TURNO STRING,
    DESC_SIT_TOT_TURNO STRING
    {% if ano > 2014 %},
    NM_EMAIL STRING
    {% endif %})
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\;',
'quoteChar'     = '\"',
'serialization.encoding'='ISO-8859-1'
)
STORED AS TEXTFILE;
Alter table candidato_{{ ano }} set location 's3://datascience2016/data/gzip/candidatos/candidato_{{ ano }}.csv.gz';


create table legenda_{{ ano }}(
    DATA_GERACAO STRING,
    HORA_GERACAO STRING,
    ANO_ELEICAO STRING,
    NUM_TURNO STRING,
    DESCRICAO_ELEICAO STRING,
    SIGLA_UF STRING,
    SIGLA_UE STRING,
    NOME_UE STRING,
    CODIGO_CARGO STRING,
    DESCRICAO_CARGO STRING,
    TIPO_LEGENDA STRING,
    NUM_PARTIDO STRING,
    SIGLA_PARTIDO STRING,
    NOME_PARTIDO STRING,
    SIGLA_COLIGACAO STRING,
    NOME_COLIGACAO STRING,
    COMPOSICAO_COLIGACAO STRING,
    SEQUENCIA_COLIGACAO STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\;',
'quoteChar'     = '\"'
)
STORED AS TEXTFILE;
Alter table legenda_{{ ano }} set location 's3://datascience2016/data/gzip/legendas/{{ ano }}/';


create view candidato_{{ano}}_legenda as
    select
    c.*,
    l.TIPO_LEGENDA,
    l.SIGLA_COLIGACAO,
    l.NOME_COLIGACAO,
    l.COMPOSICAO_COLIGACAO
    from candidato_{{ ano }} as c
    left join (
        select
        SIGLA_UE,
        NUM_PARTIDO,
        CODIGO_CARGO,
        TIPO_LEGENDA,
        SIGLA_COLIGACAO,
        NOME_COLIGACAO,
        COMPOSICAO_COLIGACAO
        from
        legenda_{{ ano }}
        group by
        SIGLA_UE,
        NUM_PARTIDO,
        CODIGO_CARGO,
        TIPO_LEGENDA,
        SIGLA_COLIGACAO,
        NOME_COLIGACAO,
        COMPOSICAO_COLIGACAO
    ) as l
    on c.SIGLA_UE=l.SIGLA_UE
    AND c.NUMERO_PARTIDO=l.NUM_PARTIDO
    AND c.CODIGO_CARGO=l.CODIGO_CARGO;
{% endfor %}