set mapred.output.compress=true; 
set hive.exec.compress.output=true;
set mapred.output.compression.codec=org.apache.hadoop.io.compress.GzipCodec;
set io.compression.codecs=org.apache.hadoop.io.compress.GzipCodec;


{% for agregacao in agregacoes %}
{% for ano in anos %}
{% for cargo in cargos %}


Alter table output_{{ agregacao }}_candidato set location 's3://datascience2016/data/gzip/output/{{ agregacao }}/{{ ano }}/{{ cargo }}/';
INSERT OVERWRITE TABLE output_{{ agregacao }}_candidato
select
    v.ANO_ELEICAO,
    v.NUM_TURNO,
    c.DESCRICAO_ELEICAO,
    v.SIGLA_UE,
    c.DESCRICAO_UE ,
    v.CODIGO_CARGO ,
    c.DESCRICAO_CARGO ,
    c.NOME_CANDIDATO ,
    c.SEQUENCIAL_CANDIDATO ,
    c.NUMERO_CANDIDATO ,
    c.CPF_CANDIDATO ,
    c.NOME_URNA_CANDIDATO ,
    c.COD_SITUACAO_CANDIDATURA ,
    c.DES_SITUACAO_CANDIDATURA ,
    c.NUMERO_PARTIDO ,
    c.SIGLA_PARTIDO ,
    c.NOME_PARTIDO ,
    c.CODIGO_LEGENDA ,
    c.SIGLA_LEGENDA ,
    c.COMPOSICAO_LEGENDA ,
    c.NOME_LEGENDA ,
    c.CODIGO_OCUPACAO,
    c.DESCRICAO_OCUPACAO,
    c.DATA_NASCIMENTO,
    c.NUM_TITULO_ELEITORAL_CANDIDATO,
    c.IDADE_DATA_ELEICAO,
    c.CODIGO_SEXO,
    c.DESCRICAO_SEXO,
    c.COD_GRAU_INSTRUCAO,
    c.DESCRICAO_GRAU_INSTRUCAO,
    c.CODIGO_ESTADO_CIVIL,
    c.DESCRICAO_ESTADO_CIVIL,
    {% if ano > 2012 %}
    c.CODIGO_COR_RACA,
    c.DESCRICAO_COR_RACA,
    {% else %}
    "-3" as CODIGO_COR_RACA,
    "#NE#" as DESCRICAO_COR_RACA,
    {% endif %}
    c.CODIGO_NACIONALIDADE,
    c.DESCRICAO_NACIONALIDADE,
    c.SIGLA_UF_NASCIMENTO,
    c.CODIGO_MUNICIPIO_NASCIMENTO,
    c.NOME_MUNICIPIO_NASCIMENTO,
    c.DESPESA_MAX_CAMPANHA,
    c.COD_SIT_TOT_TURNO,
    c.DESC_SIT_TOT_TURNO,
    {% if ano > 2014 %}
    c.NM_EMAIL,
    {% else %}
    "#NE#" as NM_EMAIL,
    {% endif %}
    c.TIPO_LEGENDA,
    c.SIGLA_COLIGACAO,
    c.SIGLA_COLIGACAO as NOME_COLIGACAO,
    c.COMPOSICAO_COLIGACAO,
    v.CODIGO_MACRO,
    v.NOME_MACRO,
    v.UF,
    v.NOME_UF,
    v.CODIGO_MESO,
    v.NOME_MESO,
    v.CODIGO_MICRO,
    v.NOME_MICRO,
    {% if agregacao == 'mun' %}
    v.CODIGO_MUNICIPIO,
    v.CODIGO_IBGE,
    v.NOME_MUNICIPIO,
    {% endif %}
    {% if agregacao == "munzona" %}
    v.CODIGO_MUNICIPIO,
    v.CODIGO_IBGE,
    v.NOME_MUNICIPIO,
    v.NUM_ZONA,
    {% endif %}
    v.QTDE_VOTOS
from (
    select
        ANO_ELEICAO,
        NUM_TURNO,
        CODIGO_CARGO,
        NUM_VOTAVEL,
        SIGLA_UE,
        CODIGO_MACRO,
        NOME_MACRO,
        UF,
        NOME_UF,
        CODIGO_MESO,
        NOME_MESO,
        CODIGO_MICRO,
        NOME_MICRO,
        {% if agregacao == 'mun' %}
        CODIGO_MUNICIPIO,
        CODIGO_IBGE,
        NOME_MUNICIPIO,
        {% endif %}
        {% if agregacao == "munzona" %}
        CODIGO_MUNICIPIO,
        CODIGO_IBGE,
        NOME_MUNICIPIO,
        NUM_ZONA,
        {% endif %}
        sum(cast(QTDE_VOTOS AS INT)) as QTDE_VOTOS
        from (
            select v1.*,
                m.CODIGO_MACRO,
                m.NOME_MACRO,
                m.UF,
                m.NOME_UF,
                m.CODIGO_MESO,
                m.NOME_MESO,
                m.CODIGO_MICRO,
                {% if agregacao == "mun" %}
                m.CODIGO_IBGE,
                {% endif %}
                {% if agregacao == "munzona" %}
                m.CODIGO_IBGE,
                {% endif %}
                m.NOME_MICRO 

                from (
                    select * from votacao_secao_{{ ano }}
                    where CODIGO_CARGO='{{ cargo }}'
                    {% if ano <= 2006 %}
                    AND DESCRICAO_ELEICAO='ELEICOES {{ ano }}'
                    {% elif ano<=2010 %}
                    AND DESCRICAO_ELEICAO='ELEIÇÕES {{ ano }}'
                    {% elif ano==2012 %}
                    AND DESCRICAO_ELEICAO='ELEIÇÃO MUNICIPAL {{ ano }}'
                    {% elif ano==2014 %}
                    AND DESCRICAO_ELEICAO='ELEIÇÕES GERAIS {{ ano }}'
                    {% elif ano==2016 %}
                    AND DESCRICAO_ELEICAO='ELEIÇÕES MUNICIPAIS {{ ano }}'
                    {% endif %}
) as v1
                join aux_municipio as m on m.CODIGO_MUNICIPIO=v1.CODIGO_MUNICIPIO
            ) as v_s_m
       group by ANO_ELEICAO,
        NUM_TURNO,
        CODIGO_CARGO,
        NUM_VOTAVEL,
        CODIGO_MACRO,
        UF,
        NOME_UF,
        SIGLA_UE,
        NOME_MACRO,
        CODIGO_MESO,
        NOME_MESO,
        CODIGO_MICRO,
        {% if agregacao == 'mun' %}
        CODIGO_MUNICIPIO,
        CODIGO_IBGE,
        NOME_MUNICIPIO,
        {% endif %}
        {% if agregacao == "munzona" %}
        CODIGO_MUNICIPIO,
        CODIGO_IBGE,
        NOME_MUNICIPIO,
        NUM_ZONA,
        {% endif %}
        NOME_MICRO
) as v
left join (
    select * from candidato_{{ ano }}_legenda
    {% if cargo==7 %}
    where (CODIGO_CARGO='{{ cargo }}'
    OR CODIGO_CARGO='8')
    {% else %}
    where CODIGO_CARGO='{{ cargo }}'
    {% endif %}
) as c
{% if cargo==1 %}
ON
{% elif ano%4==0 %}
on v.SIGLA_UE=c.SIGLA_UE AND 
{% else %}
on v.UF=c.SIGLA_UF AND 
{% endif%}
v.ANO_ELEICAO=c.ANO_ELEICAO
AND v.NUM_TURNO=c.NUM_TURNO
AND v.CODIGO_CARGO=c.CODIGO_CARGO
AND v.NUM_VOTAVEL=c.NUMERO_CANDIDATO;


{% endfor %}
{% endfor %}
{% endfor %}



{% for agregacao in agregacoes %}
{% for ano in anos %}
{% for cargo in cargos %}


alter table output_{{ agregacao }}_candidato set location 's3://datascience2016/data/gzip/output/{{ agregacao }}/{{ ano }}/{{ cargo }}/brancos';

INSERT OVERWRITE TABLE output_{{ agregacao }}_candidato SELECT
ANO_ELEICAO,
NUM_TURNO,
DESCRICAO_ELEICAO,
UF AS SIGLA_UE,
NOME_UF AS DESCRICAO_UE,
CODIGO_CARGO,
DESCRICAO_CARGO,
"Voto Branco" AS NOME_CANDIDATO,
"#BRANCO#" AS SEQUENCIAL_CANDIDATO,
NUM_VOTAVEL AS NUMERO_CANDIDATO,
"#BRANCO#" AS CPF_CANDIDATO,
"#BRANCO#" AS NOME_URNA_CANDIDATO,
"-1" AS COD_SITUACAO_CANDIDATURA,
"-" AS DES_SITUACAO_CANDIDATURA,
NUM_VOTAVEL AS NUMERO_PARTIDO,
"#BRANCO#" AS SIGLA_PARTIDO,
"#BRANCO#" AS NOME_PARTIDO,
"#BRANCO#" AS CODIGO_LEGENDA,
"#BRANCO#" AS SIGLA_LEGENDA,
"#BRANCO#" AS COMPOSICAO_LEGENDA,
"#BRANCO#" AS NOME_LEGENDA,
"-1" AS CODIGO_OCUPACAO,
"#BRANCO#" AS DESCRICAO_OCUPACAO,
"" AS DATA_NASCIMENTO,
"#BRANCO#" AS NUM_TITULO_ELEITORAL_CANDIDATO,
"-1" AS IDADE_DATA_ELEICAO,
"-1" AS CODIGO_SEXO,
"-" AS DESCRICAO_SEXO,
"-1" AS COD_GRAU_INSTRUCAO,
"-" AS DESCRICAO_GRAU_INSTRUCAO,
"-1" AS CODIGO_ESTADO_CIVIL,
"-" AS DESCRICAO_ESTADO_CIVIL,
"-1" AS CODIGO_COR_RACA,
"-" AS DESCRICAO_COR_RACA,
"-1" AS CODIGO_NACIONALIDADE,
"-" AS DESCRICAO_NACIONALIDADE,
"-" AS SIGLA_UF_NASCIMENTO,
"-1" AS CODIGO_MUNICIPIO_NASCIMENTO,
"-" AS NOME_MUNICIPIO_NASCIMENTO,
"-1" AS DESPESA_MAX_CAMPANHA,
"-1" AS COD_SIT_TOT_TURNO,
"-" AS DESC_SIT_TOT_TURNO,
"-" AS NM_EMAIL,
"-" AS TIPO_LEGENDA,
"#BRANCO#" AS SIGLA_COLIGACAO,
"#BRANCO#" AS NOME_COLIGACAO,
"#BRANCO#" AS COMPOSICAO_COLIGACAO,
CODIGO_MACRO,
NOME_MACRO,
UF,
NOME_UF,
CODIGO_MESO,
NOME_MESO,
CODIGO_MICRO,
NOME_MICRO,
{% if agregacao == 'mun' %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
{% endif %}
{% if agregacao == "munzona" %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
NUM_ZONA,
{% endif %}
sum(cast(QTDE_VOTOS AS INT)) as QTDE_VOTOS from ( select v1.*,
                m.CODIGO_MACRO,
                m.NOME_MACRO,
                m.UF,
                m.NOME_UF,
                m.CODIGO_MESO,
                m.NOME_MESO,
                m.CODIGO_MICRO,
                {% if agregacao == "mun" %}
                m.CODIGO_IBGE,
                {% endif %}
                {% if agregacao == "munzona" %}
                m.CODIGO_IBGE,
                {% endif %}
                m.NOME_MICRO
                from (
                    select * from votacao_secao_{{ ano }}
                where CODIGO_CARGO='{{ cargo }}'
                and NUM_VOTAVEL='95') as v1
                join aux_municipio as m on m.CODIGO_MUNICIPIO=v1.CODIGO_MUNICIPIO
            ) as v_s_m
group by
ANO_ELEICAO,
NUM_TURNO,
DESCRICAO_ELEICAO,
CODIGO_MACRO,
NOME_MACRO,
UF,
NOME_UF,
CODIGO_MESO,
NOME_MESO,
CODIGO_MICRO,
NOME_MICRO,
{% if agregacao == 'mun' %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
{% endif %}
{% if agregacao == "munzona" %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
NUM_ZONA,
{% endif %}
CODIGO_CARGO,
DESCRICAO_CARGO,
NUM_VOTAVEL
order by NUM_VOTAVEL;


alter table output_{{ agregacao }}_candidato set location 's3://datascience2016/data/gzip/output/{{ agregacao }}/{{ ano }}/{{ cargo }}/nulos';

INSERT OVERWRITE TABLE output_{{ agregacao }}_candidato SELECT
ANO_ELEICAO,
NUM_TURNO,
DESCRICAO_ELEICAO,
UF AS SIGLA_UE,
NOME_UF AS DESCRICAO_UE,
CODIGO_CARGO,
DESCRICAO_CARGO,
"Voto Nulo" AS NOME_CANDIDATO,
"#NULO#" AS SEQUENCIAL_CANDIDATO,
NUM_VOTAVEL AS NUMERO_CANDIDATO,
"#NULO#" AS CPF_CANDIDATO,
"#NULO#" AS NOME_URNA_CANDIDATO,
"-1" AS COD_SITUACAO_CANDIDATURA,
"-" AS DES_SITUACAO_CANDIDATURA,
NUM_VOTAVEL AS NUMERO_PARTIDO,
"#NULO#" AS SIGLA_PARTIDO,
"#NULO#" AS NOME_PARTIDO,
"#NULO#" AS CODIGO_LEGENDA,
"#NULO#" AS SIGLA_LEGENDA,
"#NULO#" AS COMPOSICAO_LEGENDA,
"#NULO#" AS NOME_LEGENDA,
"-1" AS CODIGO_OCUPACAO,
"#NULO#" AS DESCRICAO_OCUPACAO,
"" AS DATA_NASCIMENTO,
"#NULO#" AS NUM_TITULO_ELEITORAL_CANDIDATO,
"-1" AS IDADE_DATA_ELEICAO,
"-1" AS CODIGO_SEXO,
"-" AS DESCRICAO_SEXO,
"-1" AS COD_GRAU_INSTRUCAO,
"-" AS DESCRICAO_GRAU_INSTRUCAO,
"-1" AS CODIGO_ESTADO_CIVIL,
"-" AS DESCRICAO_ESTADO_CIVIL,
"-1" AS CODIGO_COR_RACA,
"-" AS DESCRICAO_COR_RACA,
"-1" AS CODIGO_NACIONALIDADE,
"-" AS DESCRICAO_NACIONALIDADE,
"-" AS SIGLA_UF_NASCIMENTO,
"-1" AS CODIGO_MUNICIPIO_NASCIMENTO,
"-" AS NOME_MUNICIPIO_NASCIMENTO,
"-1" AS DESPESA_MAX_CAMPANHA,
"-1" AS COD_SIT_TOT_TURNO,
"-" AS DESC_SIT_TOT_TURNO,
"-" AS NM_EMAIL,
"-" AS TIPO_LEGENDA,
"#NULO#" AS SIGLA_COLIGACAO,
"#NULO#" AS NOME_COLIGACAO,
"#NULO#" AS COMPOSICAO_COLIGACAO,
CODIGO_MACRO,
NOME_MACRO,
UF,
NOME_UF,
CODIGO_MESO,
NOME_MESO,
CODIGO_MICRO,
NOME_MICRO,
{% if agregacao == 'mun' %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
{% endif %}
{% if agregacao == "munzona" %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
NUM_ZONA,
{% endif %}
sum(cast(QTDE_VOTOS AS INT)) as QTDE_VOTOS from ( select v1.*,
                m.CODIGO_MACRO,
                m.NOME_MACRO,
                m.UF,
                m.NOME_UF,
                m.CODIGO_MESO,
                m.NOME_MESO,
                m.CODIGO_MICRO,
                {% if agregacao == "mun" %}
                m.CODIGO_IBGE,
                {% endif %}
                {% if agregacao == "munzona" %}
                m.CODIGO_IBGE,
                {% endif %}
                m.NOME_MICRO
                from (
                    select * from votacao_secao_{{ ano }}
                    where CODIGO_CARGO='{{ cargo }}'
                    and (NUM_VOTAVEL="96" or NUM_VOTAVEL="97")) as v1
                join aux_municipio as m on m.CODIGO_MUNICIPIO=v1.CODIGO_MUNICIPIO
            ) as v_s_m
group by
ANO_ELEICAO,
NUM_TURNO,
DESCRICAO_ELEICAO,
CODIGO_MACRO,
NOME_MACRO,
UF,
NOME_UF,
CODIGO_MESO,
NOME_MESO,
CODIGO_MICRO,
NOME_MICRO,
{% if agregacao == 'mun' %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
{% endif %}
{% if agregacao == "munzona" %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
NUM_ZONA,
{% endif %}
CODIGO_CARGO,
DESCRICAO_CARGO,
NUM_VOTAVEL
order by NUM_VOTAVEL;

{% endfor %}
{% endfor %}
{% endfor %}



{% for agregacao in agregacoes %}
{% for ano in anos %}
{% for cargo in cargos %}
{% if cargo==13 or cargo==6 or cargo==7 or cargo==8 %}

alter table output_{{ agregacao }}_candidato set location 's3://datascience2016/data/gzip/output/{{ agregacao }}/{{ ano }}/{{ cargo }}/legenda';

INSERT OVERWRITE TABLE output_{{ agregacao }}_candidato SELECT
ANO_ELEICAO,
v_s_m.NUM_TURNO,
DESCRICAO_ELEICAO,
UF AS SIGLA_UE,
NOME_UF AS DESCRICAO_UE,
CODIGO_CARGO,
DESCRICAO_CARGO,
NOME_PARTIDO AS NOME_CANDIDATO,
"-1" AS SEQUENCIAL_CANDIDATO,
NUM_VOTAVEL AS NUMERO_CANDIDATO,
"#NULO#" AS CPF_CANDIDATO,
"#NULO#" AS NOME_URNA_CANDIDATO,
"-1" AS COD_SITUACAO_CANDIDATURA,
"-" AS DES_SITUACAO_CANDIDATURA,
NUM_VOTAVEL AS NUMERO_PARTIDO,
l.SIGLA_PARTIDO,
l.NOME_PARTIDO,
l.NUM_PARTIDO AS CODIGO_LEGENDA,
l.SIGLA_PARTIDO AS SIGLA_LEGENDA,
l.COMPOSICAO_COLIGACAO AS COMPOSICAO_LEGENDA,
l.NOME_PARTIDO AS NOME_LEGENDA,
"-1" AS CODIGO_OCUPACAO,
"#NULO#" AS DESCRICAO_OCUPACAO,
"" AS DATA_NASCIMENTO,
"#NULO#" AS NUM_TITULO_ELEITORAL_CANDIDATO,
"-1" AS IDADE_DATA_ELEICAO,
"-1" AS CODIGO_SEXO,
"-" AS DESCRICAO_SEXO,
"-1" AS COD_GRAU_INSTRUCAO,
"-" AS DESCRICAO_GRAU_INSTRUCAO,
"-1" AS CODIGO_ESTADO_CIVIL,
"-" AS DESCRICAO_ESTADO_CIVIL,
"-1" AS CODIGO_COR_RACA,
"-" AS DESCRICAO_COR_RACA,
"-1" AS CODIGO_NACIONALIDADE,
"-" AS DESCRICAO_NACIONALIDADE,
"-" AS SIGLA_UF_NASCIMENTO,
"-1" AS CODIGO_MUNICIPIO_NASCIMENTO,
"-" AS NOME_MUNICIPIO_NASCIMENTO,
"-1" AS DESPESA_MAX_CAMPANHA,
"-1" AS COD_SIT_TOT_TURNO,
"-" AS DESC_SIT_TOT_TURNO,
"-" AS NM_EMAIL,
l.TIPO_LEGENDA,
IF(l.SIGLA_COLIGACAO="#NE#", l.SIGLA_PARTIDO, l.SIGLA_COLIGACAO),
IF(l.SIGLA_COLIGACAO="#NE#", l.SIGLA_PARTIDO, l.SIGLA_COLIGACAO),
IF(l.COMPOSICAO_COLIGACAO="#NE#", l.SIGLA_PARTIDO, l.COMPOSICAO_COLIGACAO),
CODIGO_MACRO,
NOME_MACRO,
UF,
NOME_UF,
CODIGO_MESO,
NOME_MESO,
CODIGO_MICRO,
NOME_MICRO,
{% if agregacao == 'mun' %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
{% endif %}
{% if agregacao == "munzona" %}
CODIGO_MUNICIPIO,
CODIGO_IBGE,
NOME_MUNICIPIO,
NUM_ZONA,
{% endif %}
QTDE_VOTOS
from ( select
                DATA_GERACAO,
                HORA_GERACAO,
                ANO_ELEICAO,
                NUM_TURNO,
                DESCRICAO_ELEICAO,
                SIGLA_UF,
                SIGLA_UE,
                CODIGO_CARGO,
                DESCRICAO_CARGO,
                NUM_VOTAVEL,
                CODIGO_MACRO,
                NOME_MACRO,
                UF,
                NOME_UF,
                CODIGO_MESO,
                NOME_MESO,
                CODIGO_MICRO,
                NOME_MICRO,
                {% if agregacao == 'mun' %}
                m.CODIGO_MUNICIPIO,
                m.CODIGO_IBGE,
                m.NOME_MUNICIPIO,
                {% endif %}
                {% if agregacao == "munzona" %}
                m.CODIGO_MUNICIPIO,
                m.CODIGO_IBGE,
                m.NOME_MUNICIPIO,
                NUM_ZONA,
                {% endif %}
                sum(cast(QTDE_VOTOS AS INT)) as QTDE_VOTOS
                from (select * from votacao_secao_{{ ano }}
                {% if cargo==7 %}
                where (CODIGO_CARGO='{{ cargo }}'
                OR CODIGO_CARGO='8')
                {% else %}
                where CODIGO_CARGO='{{ cargo }}'
                {% endif %}
                and cast(NUM_VOTAVEL AS INT) < 100) as v1
                join aux_municipio as m on m.CODIGO_MUNICIPIO=v1.CODIGO_MUNICIPIO
                group by
                    DATA_GERACAO,
                    HORA_GERACAO,
                    ANO_ELEICAO,
                    NUM_TURNO,
                    DESCRICAO_ELEICAO,
                    SIGLA_UF,
                    SIGLA_UE,
                    CODIGO_CARGO,
                    DESCRICAO_CARGO,
                    NUM_VOTAVEL,
                    CODIGO_MACRO,
                    NOME_MACRO,
                    UF,
                    NOME_UF,
                    CODIGO_MESO,
                    NOME_MESO,
                    CODIGO_MICRO,
                {% if agregacao == 'mun' %}
                m.CODIGO_MUNICIPIO,
                m.CODIGO_IBGE,
                m.NOME_MUNICIPIO,
                {% endif %}
                {% if agregacao == "munzona" %}
                m.CODIGO_MUNICIPIO,
                m.CODIGO_IBGE,
                m.NOME_MUNICIPIO,
                v1.NUM_ZONA,
                {% endif %}
                    NOME_MICRO
            ) as v_s_m
left join (
    select
        NUM_TURNO,
        SIGLA_UE,
        TIPO_LEGENDA,
        NUM_PARTIDO,
        SIGLA_PARTIDO,
        NOME_PARTIDO,
        SIGLA_COLIGACAO,
        COMPOSICAO_COLIGACAO
    from legenda_{{ ano }}
    where CODIGO_CARGO='{{ cargo }}'
    group by
        NUM_TURNO,
        SIGLA_UE,
        TIPO_LEGENDA,
        NUM_PARTIDO,
        SIGLA_PARTIDO,
        NOME_PARTIDO,
        SIGLA_COLIGACAO,
        COMPOSICAO_COLIGACAO
 ) as l on
    NUM_VOTAVEL = l.NUM_PARTIDO
    AND l.SIGLA_UE = v_s_m.SIGLA_UE
    AND l.NUM_TURNO = v_s_m.NUM_TURNO
order by NUMERO_CANDIDATO;


{% endif%}
{% endfor %}
{% endfor %}
{% endfor %}