.home-header {
    margin: -30px -20px 20px -20px;
    background-size: cover;
    background: rgb(102, 171, 206) url('/static/images/home_header.png') fixed;
    height: 400px;
}

.home-header a {
    text-decoration: none;
}

.home-header a > img {
    width: 100%;
}

@media (max-width: 768px) {
    .home-header {
        height: auto;
        background-size: auto 100%;
        margin: 0 -10px 20px -10px;
    }

    .home-header h1 {
        font-size: 28px !important;
    }

    .home-header h2 {
        font-size: 16px !important;;
    }
}

.home-header h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.home-header h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
}

.home-header a, .home-header a:hover {
    color: #cad8ff;
}

.card-icon {
    width: 100%;
    overflow: hidden;
}

.home-header, .card-desc, .card-icon, .card-title {
    text-align: center
}

.card-icon i {
    font-size: 50px;
    border: 1px solid #ecf0f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 47px 30px;
    margin: 30px 0
}

.card-title span {
    font-size: 18px;
    font-weight: 600;
    color: #373d43
}

.card-desc {
    margin-top: 20px;
    margin-bottom: 30px
}

.card-desc span {
    font-size: 14px;
    font-weight: 400;
    color: #808a94
}